$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  font-family: 'Helvetica Neue', Helvetica;
}

.intro {
  padding-top: 5vh;
  font-family: 'Helvetica Neue', Helvetica;
  text-align: center;
  font-size: 0vmin;

  h1,
  h2,
  p {
    color: rgb(10, 10, 10);
  }
}

.canvas-container {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top : 2.5vh;

    #grid_canvas {
        border:solid .2vh rgb(0, 0, 0);
    }
}
