nav(id='footer' class='navbar navbar-collapse navbar-light')
    //.footer-container
    p(class='navbar-text pull-left') PdF @ 2017
    ul(class='nav navbar-nav navbar-right')
        li(class='nav-item active') 
            a(href='https://github.com/aegroto/AE2017-UNICT-RadiceMaya') GitHub