nav(id='footer' class='navbar navbar-collapse navbar-light')
    //.footer-container
    p(class='navbar-text pull-left') PdF @ 2017
    p(class='navbar-text pull-right') 
        a(href='https://github.com/aegroto/AE2017-UNICT-RadiceMaya') GitHub