nav(class='navbar navbar-collapse navbar-light')
    span(class='navbar-brand') Simulatore di Radice Quadrata su abaco Maya
    ul(class='nav navbar-nav navbar-right')
        li(class='nav-item active') 
            a(href='index.html') Home
        li(class='nav-item active') 
            a(href='help.html') Help
        li(class='nav-item active') 
            a(href='development.html') Development