header
    nav(class='navbar navbar-inverse navbar-fixed-top bg-inverse')
        p(class='navbar-text') Simulatore di Radice Quadrata in aritmetica Maya
        ul(class='nav navbar-nav')
            li(class='nav-item active') 
                a(href='#') Home
            li(class='nav-item') 
                a(href='#help') Help
