extends layouts/_default

block content
    .container.help-container
        h1 Development
        | This project uses the Yeoman's generator lb-generator by Lighting Beetle. 
        a(href='https://github.com/lightingbeetle/generator-lb') https://github.com/lightingbeetle/generator-lb.
        br
        | Mayan abacus is drawn using HTML5 canvas. 
        br
        | Javascript code is subdivided into modules containing specific functions. They comunicate exclusively
        | with export so field and functions that should remain 'private' remain inacessible for other modules.

        h1 Contributions
        | The project was originally developed by Andrea De Domenico, Stefano Di Patti, Francesco Brischetto and Lorenzo Catania as 
        | part of the didactic course 'Architettura degli Elaboratori' (Computer architecture) @ Department of Mathematics and Informatics, University of Catania.
        | However, even if it is fully usable and working, it is far to be complete. Here's a list of possible contributions and patches:
        br
        | - An excercise mode in which the application propose you a number and you have to calculate its square root. The simulator then checks your answer.
        br
        | - A better mobile and responsive design.