extends layouts/_default

block content
    .container
        // h1 AE2017 UNICT RadiceMaya 
        // - IL FORMALIZZATORE PAZZO È STATO QUI.

    .container.canvas-container
        span(id='error_text' class='error-text')

        .input-form
            input(id='input_textfield' type='text' value='1000000')
            input(id='input_button' type='button' value='Calcola')

        canvas(id='grid_canvas') If you see this,your browser is not supporting HTML5 Canvas.
        
        .operations-form
            span(id='info_text' class='info-text') Benvenuto nel simulatore di radice quadrata su abaco maya!

            input(id='previous_step_button' type='button' value='Indietro')
            input(id='next_step_button' type='button' value='Prossimo passo')
