extends layouts/_default

block content
    .intro
        h1 AE2017 UNICT RadiceMaya - IL FORMALIZZATORE PAZZO È STATO QUI.
    .canvas-container
      canvas(id="grid_canvas") If you see this,your browser is not supporting HTML5 Canvas.
